[submodule "jmap-demo-webmail"]
	path = jmap-demo-webmail
	url = https://github.com/uma-email/jmap-demo-webmail.git
[submodule "email-service"]
	path = email-service
	url = https://github.com/uma-email/email-service.git
[submodule "email-app"]
	path = email-app
	url = https://github.com/uma-email/email-app.git
