# Application
BASE_NAME=resource-server
BASE_PROTOCOL=http
BASE_PORT=3000
BASE_COLON_PORT=:3000
BASE_DOMAIN_NAME=localhost
# repo.${BASE_DOMAIN_NAME}
BASE_HOSTNAME=${BASE_DOMAIN_NAME}
BASE_API_PATH=/api
BASE_SERVER_URL=${BASE_PROTOCOL}://${BASE_HOSTNAME}${BASE_COLON_PORT}
BASE_SERVER_API_URL=${BASE_SERVER_URL}${BASE_API_PATH}
 # former swagger
BASE_OPENAPI_UI_SERVER_URL=${BASE_SERVER_URL}/openapi

BASE_WEBMAIL_HOSTNAME=webmail.${BASE_DOMAIN_NAME}
BASE_WEBMAIL_SERVER_URL=${BASE_PROTOCOL}://${BASE_WEBMAIL_HOSTNAME}

# Database
DATABASE_HOST=localhost
DATABASE_SCHEMA=./sqlite3/db.sqlite3
# DATABASE_USER=root
# DATABASE_PASSWORD=password
# DATABASE_MAX_POOL_CONNECTIONS=60

# Keycloak
KC_AUTH_SERVER_URL=http://192.168.0.52:8080/auth
KC_REALM=master
KC_CLIENT_ID=api

AUTH_REALM=aems
AUTH_PROTOCOL=http
AUTH_PORT=8080
AUTH_COLON_PORT=:8080
AUTH_DOMAIN_NAME=192.168.0.52
# identity.${AUTH_DOMAIN_NAME}
AUTH_HOSTNAME=${AUTH_DOMAIN_NAME}
AUTH_PATH=/auth
AUTH_SERVER_URL=${AUTH_PROTOCOL}://${AUTH_HOSTNAME}${AUTH_COLON_PORT}
AUTH_SERVER_AUTH_URL=${AUTH_SERVER_URL}${AUTH_PATH}
AUTH_REALM_PATH=/realms/${AUTH_REALM}
AUTH_WELL_KNOWN=/.well-known/openid-configuration
AUTH_CERTS_PATH=/protocol/openid-connect/certs
AUTH_TOKEN_PATH=/protocol/openid-connect/token
AUTH_LOGIN_PATH=/protocol/openid-connect/auth
AUTH_LOGOUT_PATH=/protocol/openid-connect/logout
AUTH_OPENAPI_UI_CLIENT=openapi
AUTH_OPENAPI_UI_CLIENT_SECRET=165dd90a-a01c-fdf5-9deb-7261f7a2c5e0 
AUTH_WEBMAIL_CLIENT=webmail
AUTH_WEBMAIL_CLIENT_SECRET=981c800c-181d-33ea-ff58-965481775f03

SESSION_SECRET=yg4EkGohuLzc9N2
