# IDEs
.idea/
.vscode/

# node.js modules
node_modules/

# nodemon config
nodemon.json

# service config
.config.env
.env

# certificates
certs/

# sqlite3 database
sqlite3/

# resource server repository
repository/